name: Automatic Sync of Fork of TPOT main repo

on:
  schedule:
    - cron: '0 0 * * *'  # codziennie o północy
  workflow_dispatch:      # możliwość ręcznego uruchomienia

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Sync with upstream
        run: |
          git remote add upstream https://github.com/telekom-security/tpotce.git
          git fetch upstream
          git checkout main
          git merge upstream/main
          git push origin main
